{
  "openapi": "3.1.0",
  "info": {
    "title": "Loglybase",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://loglybase.com/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/project": {
      "get": {
        "description": "Returns all your projects from the system",
        "responses": {
          "200": {
            "description": "List of projects response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new project",
        "requestBody": {
          "description": "Project for your product changelog",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The new project response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/project/{id}": {
      "get": {
        "description": "Get a single project based on the code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique code of project to get",
            "required": true,
            "schema": {
              "type": "string",
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The project response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {},
      "delete": {
        "description": "Deletes a single project based on the code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique code of project to delete",
            "required": true,
            "schema": {
              "type": "string",
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "required": [
          "slug",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the project",
            "type": "integer",
            "format": "int64"
          },
          "code": {
            "description": "Internal project code",
            "type": "string"
          },
          "slug": {
            "description": "Public slug used in subdomain URL",
            "type": "string"
          },
          "name": {
            "description": "Display name of the project",
            "type": "string"
          },
          "description": {
            "description": "Short description shown on the changelog page",
            "type": "string"
          },
          "logo": {
            "description": "URL of the project logo",
            "type": "string"
          },
          "customDomain": {
            "description": "Custom domain connected to the project",
            "type": "string"
          },
          "theme": {
            "description": "Visual theme of the changelog page (LIGHT, DARK, or SYSTEM)",
            "type": "string"
          },
          "primaryColor": {
            "description": "Hex color used for highlights and accents",
            "type": "string"
          },
          "fontFamily": {
            "description": "Font used on the changelog page",
            "type": "string"
          },
          "fontSize": {
            "description": "Base font size used for content (SMALL, MEDIUM, LARGE)",
            "type": "string"
          },
          "customCss": {
            "description": "Custom CSS applied to the public page",
            "type": "string"
          },
          "createdAt": {
            "description": "Timestamp when the project was created",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Timestamp when the project was last updated",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NewProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}